*
!src
!src/**
!tests
!tests/**
!docs
!docs/**
!scripts
!scripts/**
!simulations
!simulations/**
!debugger_tui
!debugger_tui/**
!example_asm
!CMakeLists.txt
!.gitignore
!runAllTests.sh
!LICENSE
!README.md
