*
!src
!src/**
!tests
!tests/**
!docs
!docs/**
!.github
!.github/workflows
!.github/workflows/*.yml
!scripts
!scripts/**
!simulations
!simulations/**
!debugger_tui
!debugger_tui/**
!example_asm
!CMakeLists.txt
!.gitignore
!runAllTests.sh
!LICENSE
!README.md
!boards
!boards/**
